<%- include("../partials/header.ejs") %>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/itemsCont.css">

<body>

  <%- include("../partials/navbar.ejs") %> 

  <!-- ...............slide cont starts.................. -->
  <div id="slide-cont">
    <div id="slider">
      <div id="slides">
        <input type="radio" name="radio-btn" id="radio1" />
        <input type="radio" name="radio-btn" id="radio2" />
        <input type="radio" name="radio-btn" id="radio3" />
        <input type="radio" name="radio-btn" id="radio4" />
        <input type="radio" name="radio-btn" id="radio5" />
        <input type="radio" name="radio-btn" id="radio6" />
        <input type="radio" name="radio-btn" id="radio7" />
        <input type="radio" name="radio-btn" id="radio8" />
        <input type="radio" name="radio-btn" id="radio9" />
        <input type="radio" name="radio-btn" id="radio10" />
        <input type="radio" name="radio-btn" id="radio11" />
        <input type="radio" name="radio-btn" id="radio12" />
        <input type="radio" name="radio-btn" id="radio13" />

        <div class="slide first">
          <img src="https://a.cdnsbn.com/images/English/banner_SaleFiesta8offAug21_1170_1.jpg" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_SkincareSensitiveSkinAug21_1170_1.jpg?v=3" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_MenSkincareAug21_1170_1.jpg?v=3" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_Aug21SpecialPurchase_1170_1.jpg" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_HalfPriceSkincareAug21_1170_1.jpg?v=3" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_MakeupAllComplexionAug21_1170_1.jpg?v=3" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_Aug21top40_1170_1.jpg" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_Aug21NewLines_1170_1.jpg" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_VeganBeautyNov20_1170_1.jpg" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_AshiyaMay21_1170_1.jpg" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_MedicalMask28Sep20_1140_1.jpg" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_BrandTacticalDemonFeb20_1140_1.jpg" />
        </div>
        <div class="slide">
          <img src="https://a.cdnsbn.com/images/English/banner_RewardProgramBP_1140_1.jpg" />
        </div>
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
          <div class="auto-btn5"></div>
          <div class="auto-btn6"></div>
          <div class="auto-btn7"></div>
          <div class="auto-btn8"></div>
          <div class="auto-btn9"></div>
          <div class="auto-btn10"></div>
          <div class="auto-btn11"></div>
          <div class="auto-btn12"></div>
          <div class="auto-btn13"></div>
        </div>
      </div>
      <div id="navigation-man">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
        <label for="radio5" class="manual-btn"></label>
        <label for="radio6" class="manual-btn"></label>
        <label for="radio7" class="manual-btn"></label>
        <label for="radio8" class="manual-btn"></label>
        <label for="radio9" class="manual-btn"></label>
        <label for="radio10" class="manual-btn"></label>
        <label for="radio11" class="manual-btn"></label>
        <label for="radio12" class="manual-btn"></label>
        <label for="radio13" class="manual-btn"></label>
      </div>
    </div>
  </div>

  <!-- ..............................Ant-Aging........................... -->
  <div class="dailySpecial">
    <div class="special-title">
      <div class="line"></div>
      <div>
        <h2>ANTI-AGING SKINCARE SPECIALS</h2>
      </div>
      <div class="line"></div>
    </div>
    <div class="special-item">
      <% antiAging.forEach(function (product) { %>
        <div>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#623381" class="bi bi-heart"
              viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg>
          </a>
          <a href="/products/<%= product._id %>">
            <img src=<%=product.product_image%> alt="item-image">
          </a>
          <div class="s_item_data">
            <h4>
              <%= product.brand.brand_name %>
            </h4>
            <p>
              <%= product.product_name %>
            </p>
          </div>
          <div class="price-cont">
            <p class="special-offer">SAVE <% let a=Math.floor(Math.random()*40) %>
                <%= a %> % </p>
            <h2> RS. <%= Math.round(product.price - (a*product.price)/100, 2) %>
            </h2>
            <p>RRP Rs. <del>
                <%= product.price%>
              </del></p>
          </div>
          <div class="s_btn">
            <button onclick="addToBag(<%= JSON.stringify(product) %>)">Add to bag</button>
            <h5>Extra 8% Off</h5>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
  <!-- ........................Anti-Aging Ends.......................... -->

  <!-- .........................Daily Special.......................... -->
  <div class="dailySpecial">
    <div class="special-title">
      <div class="line"></div>
      <div>
        <h2>DAILY SPECIALS</h2>
      </div>
      <div class="line"></div>
    </div>
    <div class="special-item">
      <% dailySpecial.forEach(function (product) { %>
        <div>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#623381" class="bi bi-heart"
              viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg>
          </a>
          <a href="/products/<%= product._id %>">
            <img src=<%=product.product_image%> alt="item-image">
          </a>
          <div class="s_item_data">
            <h4>
              <%= product.brand.brand_name %>
            </h4>
            <p>
              <%= product.product_name %>
            </p>
          </div>
          <div class="price-cont">
            <p class="special-offer">SAVE <% let a=Math.floor(Math.random()*40) %>
                <%= a %> % </p>
            <h2> RS. <%= Math.round(product.price - (a*product.price)/100, 2) %>
            </h2>
            <p>RRP Rs. <del>
                <%= product.price%>
              </del></p>
          </div>
          <div class="s_btn">
            <button onclick="addToBag(<%= JSON.stringify(product) %>)">Add to bag</button>
            <h5>Extra 10% Off</h5>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
  <!-- ........................Daily Special Ends..................... -->

  <!-- ......................best deals cont start.................... -->
  <div class="best-deals">
    <div class="special-title">
      <div class="line"></div>
      <div>
        <h2>BEST DEALS</h2>
      </div>
      <div class="line"></div>
    </div>
    <div class="special-item">
      <% bestDeal.forEach(function (product){ %>
        <div>
          <div class="s_body">
            <div>
              <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#623381"
                  class="bi bi-heart" viewBox="0 0 16 16">
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
              </a>
              <a href="/products/<%= product._id %>">
                <img src=<%=product.product_image%> alt="item-image" />
              </a>
              <div class="s_item_data" id="new">
                <h4>
                  <%= product.brand.brand_name %>
                </h4>
                <p>
                  <%= product.product_name %>
                </p>
              </div>
              <div class="price-cont">
                <h2>Rs. <%= product.price %>
                </h2>
              </div>
              <div class="s_btn">
                <button>Add to bag</button>
                <h5>Extra 8% Off</h5>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
  <!-- ............................best deals cont ends........................ -->
  <!-- ...............................footer start............................. -->

  <%- include("../partials/footer.ejs") %>

    <!-- ...........................footer Ends................................... -->
</body>

</html>

<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/users.js"></script>
<script type="text/javascript" src="js/bag.js"></script>
<script type="text/javascript" src="../../script/cart.js"></script>